<!DOCTYPE html>
<html lang="en">
{% include './blocks/head.twig' %}

<body class="index-page">

	{% include './blocks/navbar.twig' %}

	<div class="wrapper">

		<div class="page-header-sub header-filter">
			<div class="squares square1 no-small-screen"></div>
			<div class="squares square2 no-small-screen"></div>
			<div class="squares square3 no-small-screen"></div>
			<div class="squares square4 no-small-screen"></div>
			<div class="squares square5 no-small-screen"></div>
			<div class="squares square6 no-small-screen"></div>
			<div class="squares square7 no-small-screen"></div>
			<div class="section section-basic" id="basic-elements">
				<img src="assets/img/path1.png" class="path">
				<div class="container" style="margin-top:150px;margin-bottom:150px;">
					<div class="row justify-content-center">
						<div class="col-lg-12">
							<div class="row" style="justify-content: center;margin-bottom:55px;">
								<img class="navbar-logo" src="./assets/img/logo/dark-mode-text.png" alt="">
							</div>
							<h1 class="text-center" style="margin-bottom:50px;font-weight:600!important;">Listings and
								Partners</h1>
							<h3 class="text-center">Under Construction</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main">

			<!-- start of page-->
			<div class="gradient-line thin"></div>


			<div class="container" style="margin-top:50px;">



				<center>
					<p>
						Welcome to the new asset submission page, the portal for asset developers to connect with
						Altfenix to request
						asset listings.
					</p>



					<br>
					<strong>
						<p style="color:#d22d3d;margin-bottom:50px;">Ensure that you meet the
							listing criteria before
							submitting
							your asset. Use your proper name when submitting the request. Pseudo names or handles
							will
							result in a
							decline.</font>
					</strong><br>
					<p></p>
				</center>

				<div class="container">
					<div style="display:flex; flex-direction:row;">
						<div style="flex:1; padding-left:5px; padding-right:5px;">
							<div
								style="background-color:#36521c; color:#fff; padding:1px; padding-left:10px; border-top-right-radius:5px; border-top-left-radius:5px;">
								<h4><strong>Listing Criteria</strong></h4>
							</div>
							<div
								style="border:1px solid; border-top:0px; border-bottom-right-radius:5px; border-bottom-left-radius:5px;">
								<ul
									style="margin:0px; padding:10px; padding-left:20px; list-style-type: circle; line-height:18px;">
									<li>Only a core team member of the project can apply for listing.</li>
									<li>Website &amp; Block Explorer dedicated to the asset.</li>
									<li>At least 1 social group with user activity. (ie. discord, telegram, slack etc.)
									</li>
									<li>Announcement thread. (Bitcointalk)</li>
									<li>The project is no longer in fundraising status. (ICO,STO)</li>
									<li>Minimum Cell Phone Verified Account at Altfenix.com</li>
								</ul>
							</div>

						</div>
						<div style="flex:1; padding-left:5px; padding-right:5px;">
							<div
								style="background-color:#d22d3d; color:#fff; padding:1px; padding-left:10px; border-top-right-radius:5px; border-top-left-radius:5px;">
								<h4><strong>Delisting Policy</strong></h4>
							</div>
							<div
								style="border:1px solid; border-top:0px; border-bottom-right-radius:5px; border-bottom-left-radius:5px;">
								<ul
									style="margin:0px; padding:10px; padding-left:20px; list-style-type: circle; line-height:18px;">
									<li>The future of the project is clearly questionable.</li>
									<li>The team or project is fraudulent. (ie. not whom they say they are)</li>
									<li>Current or Future Legal issues that can impact project's ongoing business
										operations.</li>
									<li>Issues that can impact traders on the Altfenix Exchange.</li>
									<li>Significant amount of forks by the projects team. (ie. unstable chain)</li>
									<li>Critical code updates or forks without notifying the Altfenix Exchange well in
										advance.</li>
								</ul>
							</div>

						</div>
					</div>
				</div>

				</center>



				<br>



				<br>
				<div class="faq-wrapper">

					<!-- Developers -->
					<h3 id="listing-faq" style="text-align:center">Listing FAQ</h3>
					<div class="accordion acc-single-open">
						<div class="acc-container">
							<h3 class="acc-title">How many pairs can I request?</h3>
							<div class="acc-content">
								<p>Your asset will start with up to 3 pairs. You can request additional markets later,
									as long as you have enough volume in
									the existing markets. We do not charge for additional market pairings.
									When selecting base pairings, keep in mind the type of coins these are. PYRK
									pairings are generally only for other
									MasterNode coins. ETH pairings do best on Token assets.</p>
							</div>
						</div>
						<div class="acc-container">
							<h3 class="acc-title">How much volume do I need to apply for additional market pairs?</h3>
							<div class="acc-content">
								<p>3 pairs: Less than 5,000 USD daily volume.<br>
									4 pairs: 5,000 to 10,000 USD daily volume.<br>
									5 pairs: 10,000 to 25,000 USD daily volume.<br>
									* Daily volume should be consistent for at least 5 days.<br>
									* Market pairs will be removed if the volume drops below requirement for a prolonged
									period of time.</p>
							</div>
						</div>
					</div>

					<div style="text-align:center;">
						<strong>
							<p>Important Information</p>
						</strong>
						<div class="">
							<p>Do not fill out this form until you have deposited funds to pay for the listing request.
								We
								only review
								requests that are ready to pay the listing fee. If you are not approved, then you may
								withdraw the funds
								at any time.</p>
						</div>

						<br>

						<strong>
							<p>I have more questions.</p>
						</strong>
						<div>
							<p>Please contact us using the support link if you have any questions about the listing
								application or
								contact our listing manager directly on telegram <a href="https://t.me/ChuckNaughton"
									target="_new" style="color:var(--dash-element-font-color);">@ChuckNaughton</a><br>
								<br>Remember, our team will never contact you and ask you to make transfers to unknown
								addresses. Any
								transfers will be made directly with your assigned Altfenix deposit address.<br>
							</p>
						</div>

					</div>

					<br><br>

				</div>
			</div>

			<!-- end of page-->
			<div class="gradient-line thin"></div>





		</div>
		{% include './blocks/footer.twig' %}
	</div>
	{% include './blocks/scripts.twig' %}
</body>

</html>