<!DOCTYPE html>
<html lang="en">
{% include './blocks/head.twig' %}

<body class="index-page">

	{% include './blocks/navbar.twig' %}

	<div class="wrapper">

		<div class="page-header-sub header-filter">
			<div class="squares square1 no-small-screen"></div>
			<div class="squares square2 no-small-screen"></div>
			<div class="squares square3 no-small-screen"></div>
			<div class="squares square4 no-small-screen"></div>
			<div class="squares square5 no-small-screen"></div>
			<div class="squares square6 no-small-screen"></div>
			<div class="squares square7 no-small-screen"></div>
			<div class="section section-basic" id="basic-elements">
				<img src="assets/img/path1.png" class="path">
				<div class="container" style="margin-top:150px;margin-bottom:150px;">
					<div class="row justify-content-center">
						<div class="col-lg-12">
							<div class="row" style="justify-content: center;margin-bottom:55px;">
								<img class="navbar-logo" src="./assets/img/logo/dark-mode-text.png" alt="">
							</div>
							<h1 class="text-center" style="margin-bottom:50px;font-weight:600!important;">Frequently
								Asked Questions</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main">

			<!-- start of page-->
			<div class="gradient-line thin"></div>
			<!-- new -->
			<div class="container" style="margin-top:50px;">
				<div class="row" style="justify-content: center;">
					<a class="nav-link btn btn-default d-none d-lg-block" href="#developers">
						Developers
					</a><a class="nav-link btn btn-default d-none d-lg-block" href="#deposits">
						Deposits
					</a><a class="nav-link btn btn-default d-none d-lg-block" href="#withdrawals">
						Withdrawals
					</a><a class="nav-link btn btn-default d-none d-lg-block" href="#account-security">
						Account Security
					</a><a class="nav-link btn btn-default d-none d-lg-block" href="#api">
						API
					</a><a class="nav-link btn btn-default d-none d-lg-block" href="#fees">
						Fees
					</a><a class="nav-link btn btn-default d-none d-lg-block" href="#kyc">
						KYC </a>
					<a class="nav-link btn btn-default d-none d-lg-block" href="#trade-limits">
						Trade Limits
					</a><a class="nav-link btn btn-default d-none d-lg-block" href="#email">
						Email
					</a><a class="nav-link btn btn-default d-none d-lg-block" href="#telegram">
						Telegram
					</a><a class="nav-link btn btn-default d-none d-lg-block" href="#developers">
						Developers
					</a>
				</div>
			</div>
			<div class="faq-wrapper">

				<!-- Developers -->
				<h3 id="developers">Developers</h3>
				<div class="accordion acc-single-open">
					<div class="acc-container">
						<h3 class="acc-title">Where can I find the coin/token listing policies?</h3>
						<div class="acc-content">
							<p>

								Our listing policy is outlined here: www.qredit.io/altfenix-listing</p>
						</div>
					</div>

					<div class="acc-container">
						<h3 class="acc-title">How much does it cost to have my coin/token listed?</h3>
						<div class="acc-content">
							<p>Pricing changes periodically. You can view current pricing here:
								www.qredit.io/altfenix-listing</p>
						</div>
					</div>

					<div class="acc-container">
						<h3 class="acc-title">How long does it take to have my coin/token listed?</h3>
						<div class="acc-content">
							<p>There is a process that each new listing must go through before being listed. Please
								allow time for us to investigate
								your coin/token.
								Before applying, make sure it fits the guidelines found here:
								www.qredit.io/altfenix-listing
							</p>
						</div>
					</div>

					<div class="acc-container">
						<h3 class="acc-title">How do I check status of coin/token?</h3>
						<div class="acc-content">
							<p>You can check the status of every coin/token and their availability in “System Status”
								section of the website.
								Direct link: www.qredit.io/altfenix-status
							</p>
						</div>
					</div>
					<div class="acc-container">
						<h3 class="acc-title">How can I add more trading pairs for my coin/token?</h3>
						<div class="acc-content">
							<p>Contact support if you would like to add or remove any markets.
							</p>
						</div>
					</div>
					<div class="acc-container">
						<h3 class="acc-title">How do I start the process of swapping my coin/token?</h3>
						<div class="acc-content">
							<p>
								Please contact support in advance of any swap to your asset.
							</p>
						</div>
					</div>
					<div class="acc-container">
						<h3 class="acc-title">Will Altfenix swap my coin/token?</h3>
						<div class="acc-content">
							<p>In "most" cases we can assist you with a swap. However there may be an added fee. Contact
								Support for more details.
							</p>
						</div>
					</div>
					<div class="acc-container">
						<h3 class="acc-title">I need my coin/token disabled. Who do I contact?</h3>
						<div class="acc-content">
							<p>For this type of requests contact our support staff here: Contact Support.
							</p>
						</div>
					</div>
					<div class="acc-container">
						<h3 class="acc-title">Create an Airdrop</h3>
						<div class="acc-content">
							<p>In most cases we can assist you with airdrops. However, there will be a fee for this
								action. Please Contact Support for
								more details.
							</p>
						</div>
					</div>
					<div class="acc-container">
						<h3 class="acc-title">Market Maker Accounts</h3>
						<div class="acc-content">
							<p>If you would like to create a market maker account please Contact Support. Only one
								account will be provided.
								For more details please go to www.qredit.io/altfenix-marketmaker
							</p>
						</div>
					</div>
				</div>
				<div id="deposits" class="gradient-line thin" style="margin-bottom:25px;"></div>
				<!-- Deposits 
				<h3>Deposits</h3>
				<div class=" accordion acc-single-open">
					<div class="acc-container">
						<h3 class="acc-title">Create a Deposit Address.</h3>
						<div class="acc-content">
							<p>
								Info will be provided soon.</p>
						</div>
					</div>
				</div>
				<div id="withdrawals" class="gradient-line thin" style="margin-bottom:25px;"></div>
				
				<h3>Withdrawals</h3>
				<div class=" accordion acc-single-open">
					<div class="acc-container">
						<h3 class="acc-title">How to withdraw coins.</h3>
						<div class="acc-content">
							<p>
								Info will be provided soon.</p>
						</div>
					</div>
				</div>
				<div id="account-security" class="gradient-line thin" style="margin-bottom:25px;"></div>
				
				<h3>Account Security</h3>
				<div class=" accordion acc-single-open">
					<div class="acc-container">
						<h3 class="acc-title">Account Security</h3>
						<div class="acc-content">
							<p>
								Info will be provided soon.</p>
						</div>
					</div>
				</div>
				<div id="api" class="gradient-line thin" style="margin-bottom:25px;"></div>
			
				<h3>API</h3>
				<div class=" accordion acc-single-open">
					<div class="acc-container">
						<h3 class="acc-title">API.</h3>
						<div class="acc-content">
							<p>
								Info will be provided soon.</p>
						</div>
					</div>
				</div>
				<div id="fees" class="gradient-line thin" style="margin-bottom:25px;"></div>
			
				<h3>Fees</h3>
				<div class=" accordion acc-single-open">
					<div class="acc-container">
						<h3 class="acc-title">Fees.</h3>
						<div class="acc-content">
							<p>
								Info will be provided soon.</p>
						</div>
					</div>
				</div>
				<div id="kyc" class="gradient-line thin" style="margin-bottom:25px;"></div>
			
				<h3>KYC</h3>
				<div class=" accordion acc-single-open">
					<div class="acc-container">
						<h3 class="acc-title">KYC.</h3>
						<div class="acc-content">
							<p>
								Info will be provided soon.</p>
						</div>
					</div>
				</div>
				<div id="trade-limits" class="gradient-line thin" style="margin-bottom:25px;"></div>
			
				<h3>Trade Limits</h3>
				<div class=" accordion acc-single-open">
					<div class="acc-container">
						<h3 class="acc-title">Trade Limits.</h3>
						<div class="acc-content">
							<p>
								Info will be provided soon.</p>
						</div>
					</div>
				</div>
				<div id="email" class="gradient-line thin" style="margin-bottom:25px;"></div>
		
				<h3>Email</h3>
				<div class=" accordion acc-single-open">
					<div class="acc-container">
						<h3 class="acc-title">Email.</h3>
						<div class="acc-content">
							<p>
								Info will be provided soon.</p>
						</div>
					</div>
				</div>
				<div id="telegram" class="gradient-line thin" style="margin-bottom:25px;"></div>
				 Telegram 
				<h3>Telegram</h3>
				<div class=" accordion acc-single-open">
					<div class="acc-container">
						<h3 class="acc-title">Telegram.</h3>
						<div class="acc-content">
							<p>
								Info will be provided soon.</p>
						</div>
					</div>
				</div>

-->

			</div>


			<!-- end of page-->
			<div class="gradient-line thin"></div>





		</div>
		{% include './blocks/footer.twig' %}
	</div>
	{% include './blocks/scripts.twig' %}
</body>

</html>