<!DOCTYPE html>
<html lang="en">
{% include './blocks/head.twig' %}

<body class="index-page">

	{% include './blocks/navbar.twig' %}

	<div class="wrapper">

		<div class="page-header-sub header-filter">
			<div class="squares square1 no-small-screen"></div>
			<div class="squares square2 no-small-screen"></div>
			<div class="squares square3 no-small-screen"></div>
			<div class="squares square4 no-small-screen"></div>
			<div class="squares square5 no-small-screen"></div>
			<div class="squares square6 no-small-screen"></div>
			<div class="squares square7 no-small-screen"></div>
			<div class="section section-basic" id="basic-elements">
				<img src="assets/img/path1.png" class="path">
				<div class="container" style="margin-top:150px;margin-bottom:150px;">
					<div class="row justify-content-center">
						<div class="col-lg-12">
							<div class="row" style="justify-content: center;margin-bottom:55px;">
								<img class="navbar-logo" src="./assets/img/logo-header.png" alt="">
							</div>
							<h1 class="text-center" style="margin-bottom:50px;font-weight:600!important;">Block Explorer
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main">

			<!-- start of page-->
			<div class="gradient-line thin"></div>

			<div class="container mt-50 mb-50">

				<div class="row row-grid justify-content-between align-items-center">
					<div class="col-lg-4">
						<h3 class="display-3 text-white text-center">Block Explorer
						</h3>
						<p class="text-white mb-3 text-center">Developed by Ark and modified by Qredit.<br>The Qredit
							Block Explorer is a user-friendly tool to view
							and search transactions and blocks, monitor delegates and the network health. <br>
							The Qredit Block Explorer is enhanced to view QSLP tokens on the network.
						</p>
						<div class="btn-wrapper" style="text-align: center;">
							<a href="https://explorer.qredit.io" target="_blank" class="btn btn-info"
								style="margin-right:10px;">Visit Explorer
							</a>
						</div>
					</div>
					<div class="col-8">


						<img class="img" src="assets/img/mockup/explorer-light.png" alt="Card image">


					</div>
				</div>
			</div>

			<!-- end of page-->
			<div class="gradient-line thin"></div>





		</div>
		{% include './blocks/footer.twig' %}
	</div>
	{% include './blocks/scripts.twig' %}
</body>

</html>