<!DOCTYPE html>
<html lang="en">
{% include './blocks/head.twig' %}

<body class="index-page">

	{% include './blocks/navbar.twig' %}

	<div class="wrapper">

		<div class="page-header-sub header-filter">
			<div class="squares square1 no-small-screen"></div>
			<div class="squares square2 no-small-screen"></div>
			<div class="squares square3 no-small-screen"></div>
			<div class="squares square4 no-small-screen"></div>
			<div class="squares square5 no-small-screen"></div>
			<div class="squares square6 no-small-screen"></div>
			<div class="squares square7 no-small-screen"></div>
			<div class="section section-basic" id="basic-elements">
				<img src="assets/img/path1.png" class="path">
				<div class="container" style="margin-top:150px;margin-bottom:150px;">
					<div class="row justify-content-center">
						<div class="col-lg-12">
							<div class="row" style="justify-content: center;margin-bottom:55px;">
								<img class="navbar-logo" src="./assets/img/logo-header.png" alt="">
							</div>
							<h1 class="text-center" style="margin-bottom:50px;font-weight:600!important;">Qredit Side
								Ledger Protocol</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main">

			<!-- start of page-->
			<div class="gradient-line thin"></div>

			<div class="container mt-50">

				<div class="row row-grid justify-content-between align-items-center">
					<div class="col-lg-6">
						<h3 class="display-3 text-white">Qredit
							<span class="text-white">Side Ledger Protocol</span>
						</h3>
						<p class="text-white mb-3">The Qredit Side Ledger Protocol, also known as QSLP is a tool running
							on top of the Qredit Blockchain.<br>
							With QSLP, anyone can create basic fungible tokens or non-fungible tokens with advanced
							features.

						</p>
						<p class="text-white mb-3">QSLP is currently running in beta on the Qredit Blockchain and Ark
							Blockchain.<br>
							Release Date: T.B.A.
						</p>
						<div class="btn-wrapper">
							<a href="https://github.com/qredit/qslp" target="_blank" class="btn btn-info"
								style="margin-right:10px;">View
								Github</a><a href="https://qslp.qredit.cloud" target="_blank" class="btn btn-info"
								style="margin-right:10px;">View
								API docs</a>
						</div>
					</div>
					<div class="col-lg-6 mb-lg-auto">
						<div class="card" style="background:#ffffff00;">
							<div class="card-body">
								<img class="card-img" src="assets/img/qredit-square.png" alt="Card image">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">

				<h2 class="text-center mb-50">Below you will find some cool features that will be available upon
					full-release.</h2>
				<div class="row mb-50 text-center">
					<div class="gradient-line thin mb-50"></div>
					<div class="col-3">
						<h1 class="text-white font-weight-light">Relay Rewards</h1>
						<p class="text-white mt-4">Qredit Side Ledger allows users to run their own relay node and earn
							rewards from QSLP transactions. That's right. You don't have to be a forging delegate to
							earn from the network. Rewards generated from QSLP transactions will be split between all
							relay nodes running the QSLP node.</p>
					</div>
					<div class="col-3">
						<h1 class="text-white font-weight-light">Send to Chain</h1>
						<p class="text-white mt-4">QSLP will be released on the Qredit Blockchain and Ark
							Blockchain. With our new S2C transaction-type, anyone will be able to send QSLP tokens to
							another blockchain to a different address from the native chain. More blockchains will be
							supported in the near future.</p>
					</div>
					<div class="col-3">
						<h1 class="text-white font-weight-light">Pause & Resume</h1>
						<p class="text-white mt-4">Create a token and enable pause and resume functions (ie. for upgrade
							purposes). You can pause and resume a whole token network for
							upgrades or ideal for banking institutions you can also (un)freeze a wallet for review to
							review suspicious transactions.</p>
					</div>
					<div class="col-3">
						<h1 class="text-white font-weight-light">Swap Owner</h1>
						<p class="text-white mt-4">Want to handover the control of your token contract? With our
							"new-owner" transaction-type, you can swap the ownership of your contract and have someone
							else to
							control features such as burn, mint, pause
							and resume. Each function is optional and can be enabled from Genesis.
						</p>
					</div>
				</div>
			</div>


			<!-- end of page-->
			<div class="gradient-line thin"></div>





		</div>
		{% include './blocks/footer.twig' %}
	</div>
	{% include './blocks/scripts.twig' %}
</body>

</html>