<!DOCTYPE html>
<html lang="en">
{% include './blocks/head.twig' %}

<body class="index-page">

	{% include './blocks/navbar.twig' %}

	<div class="wrapper">

		<div class="page-header-sub header-filter">
			<div class="squares square1 no-small-screen"></div>
			<div class="squares square2 no-small-screen"></div>
			<div class="squares square3 no-small-screen"></div>
			<div class="squares square4 no-small-screen"></div>
			<div class="squares square5 no-small-screen"></div>
			<div class="squares square6 no-small-screen"></div>
			<div class="squares square7 no-small-screen"></div>
			<div class="section section-basic" id="basic-elements">
				<img src="assets/img/path1.png" class="path">
				<div class="container" style="margin-top:150px;margin-bottom:150px;">
					<div class="row justify-content-center">
						<div class="col-lg-12">

							<h1 class="text-center" style="margin-bottom:50px;font-weight:600!important;">Swap your old
								Qredit coins to the new blockchain.</h1>
							<h4 class="text-center">Deadline - March 2022</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main">

			<!-- start of page-->
			<div class="gradient-line thin"></div>

			<div class="container" style="margin-top:100px;margin-bottom:0px;">
				<div class="row justify-content-between">
					<div class="col-md-12 side-text-right-container d-flex mx-auto flex-column"
						style="text-align:center;">
						<div class="mb-auto"></div>
						<h2 class="side-text-right-title f-size25" style="margin-bottom:0px;">Qredit Swap</h2><br>
						<h6 style="margin-bottom:20px;">Swap your old XQR to XQR on the new blockchain.</h6>

						<div class="mt-auto"></div>
						<div class="container">
							<p>Qredit is a blockchain with it's own native XQR coins.
								The mainnet of the Qredit Blockchain went live in August 2018.<br>
								Since then a lot has changed and due to upcoming changes, Qredit will continue on a
								fresh
								blockchain.
							</p>
							<p>The swap ratio is 10:1, meaning that for 10 XQR coins from the old chain, you will
								receive 1 XQR coin
								on the new chain.
							</p>

							<div class="gradient-line thin"></div><br>
							<p style="text-align:center;"><strong>Method 1. (The easy way)</strong><br><i>Advised for
									all
									users that
									have only 1 wallet.</i>
							</p>
							<ul style="text-align:left;">
								<li>This is a fully automated swap process that requires you to import your passphrase
									in the Qredit
									Motion wallet.</li>
								<li>Create an account in your Qredit Motion wallet and create/save your 12 word
									passphrase.</li>
								<li>You can download the Qredit Motion wallet here: https://qredit.io/motion</li>
								<li>Make sure you have a backup from this passphrase.</li>
								<li>Head over to the settings page, scroll down and click "XQR Swap"</li>
								<li>Follow the instructions on the page.</li>
							</ul>
							<p>If you hold QPSN and/or ANTARES tokens, please stay tuned for updates.</p>
						</div>
						<div class="gradient-line thin"></div><br>


					</div>


					<div class="container" style="margin-top:25px;margin-bottom:50px;">
						<div class="row justify-content-between">
							<div class="col-md-12 side-text-right-container d-flex mx-auto flex-column"
								style="text-align:center;">
								<p><strong>Method 2. (Experienced User)</strong><br><i>Advised for users that don't want
										to import
										their
										passhrase in
										Qredit Motion or if you use the same passphrase for other wallets.</i></p>
								<ul style="text-align:left;">
									<li>Create a new wallet address with Qredit Motion. This address should start with
										an X (new
										chain).</li>
									<li><b><i>*optional*</i></b> you can create a new address from a custom network:
										http://95.217.235.75:5103
									</li>
									<li><b>Make sure to backup your 12 passhrase after creating a new wallet.</b></li>
									<li style="color:red;"><b>Seriously. Double check that you have a back-up of your
											passphrase
											from your new
											wallet
											address.</b></li>
									<li>Head to your <b>old wallet</b> (address starting with a Q), open your wallet.
									</li>
									<li>Create a new transaction.</li>
									<li>In this transaction, fill in your new wallet address in the smartbridge field,
										also known as
										vendorField.</li>
									<br>
									<li>Send all your coins to the following address: <br>
										<input type="text" readonly="" value="QSMYVDG2PG9PywMT3i8fhESN4UxRyb7Gbo"
											id="myInput"
											style="width:350px;background:#0f0f11;color:#d22d3d;border: 1px solid #2d2929;">
										<button onclick="myFunction()">Copy to Clipboard</button><br><br>
									</li>
									<li>Twice a week, we will verify and process the swaps and your balance will
										automatically
										appear in your
										new
										wallet. </li>
									<li>If you think that you've entered wrong information in the transaction, please
										contact us
										directly!</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>



			<!-- end of page-->
			<div class="gradient-line thin"></div>





		</div>
		{% include './blocks/footer.twig' %}
	</div>
	{% include './blocks/scripts.twig' %}
</body>

</html>