<!DOCTYPE html>
<html lang="en">
{% include './blocks/head.twig' %}

<body class="index-page">

	{% include './blocks/navbar.twig' %}

	<div class="wrapper">

		<div class="page-header header-filter">
			<div class="squares square1 no-small-screen"></div>
			<div class="squares square2 no-small-screen"></div>
			<div class="squares square3 no-small-screen"></div>
			<div class="squares square4 no-small-screen"></div>
			<div class="squares square5 no-small-screen"></div>
			<div class="squares square6 no-small-screen"></div>
			<div class="squares square7 no-small-screen"></div>
			<div class="container">
				<div class="content-center brand">
					<img class="img logo" src="./assets/img/logo-navbar-light.png" style="margin-bottom:25px;"
						alt=""></img>
					<h4>the all-in-one crypto and banking platform.</h4>
					<div class="container">
						<div class="row">

							<div class="col-md-12">
								<div class="btn-wrapper profile">
									<a target="_blank" href="https://twitter.com/Qredit_io"
										class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip"
										data-original-title="Follow us">
										<i class="fab fa-twitter"></i>
									</a>
									<a target="_blank" href="https://t.me/qredit"
										class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip"
										data-original-title="Join us">
										<i class="fab fa-telegram"></i>
									</a>
									<a target="_blank" href="https://github.com/qredit"
										class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip"
										data-original-title="Code with us">
										<i class="fab fa-github"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="gradient-line thin"></div>

		<div class="main">

			<!-- start of introduction-->


			<div class="section section-basic" id="basic-elements">
				<img src="assets/img/path1.png" class="path">
				<div class="container" style="margin-top:150px;margin-bottom:150px;">
					<div class="row justify-content-center">
						<div class="col-lg-12">
							<div class="row" style="justify-content: center;margin-bottom:55px;">
								<img class="navbar-logo" src="./assets/img/logo-header.png" alt="">
							</div>
							<h1 class="text-center" style="margin-bottom:50px;font-weight:600!important;">a new digital
								future and
								a powerful
								ecosystem.</h1>

							<!--	<h3 style="text-align: center;">Presenting all-in-one solutions.</h3>-->
							<div class="row row-grid justify-content-center">
								<div class="col-lg-3">
									<div class="info">
										<div class="card-header">
											<img src="../assets/img/logo/dark-mode-round.png"
												class="img-center img-fluid">
										</div>
										<h4 class="info-title" style="text-align: center;">Motion</h4>
										<div class="gradient-line thin" style="margin-bottom:10px;"></div>
										<p style="text-align: center;">A powerful and secure crypto and banking
											platform, rich in features, enhanced
											with digital identity solutions, cold storage multi-crypto wallets, debit
											cards
											and IBAN accounts.</p>
									</div>
									<div class="text-center">
										<button class="btn btn-info btn-simple">Learn More</button>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="info">
										<div class="card-header">
											<img src="../assets/img/logo/dark-mode-round.png"
												class="img-center img-fluid">
										</div>
										<h4 class="info-title" style="text-align: center;">Altfenix</h4>
										<div class="gradient-line thin" style="margin-bottom:10px;"></div>
										<p style="text-align: center;">A digital asset and fiat
											currency exchange that offers a traditional trading platform for pro
											traders with enhanced features that allows Qredit Motion users to instantly
											exchange their currency in the app from
											liquidity pools and order books provided by the Altfenix platform.</p>
									</div>
									<div class="text-center">
										<button class="btn btn-info btn-simple">Learn More</button>
									</div>
								</div>
								<div class="col-lg-3">
									<div class="info">
										<div class="card-header">
											<img src="../assets/img/qredit-square-trans.png"
												class="img-center img-fluid">
										</div>
										<h4 class="info-title" style="text-align: center;">Blockchain</h4>
										<div class="gradient-line thin" style="margin-bottom:10px;"></div>
										<p style="text-align: center;">A secure and decentralized blockchain utilizing
											DPoS
											consensus with 51 delegates. Powered by <a href="https://ark.io">Ark
												Core</a>. Build dApps or create your own tokens on
											the Qredit Blockchain with the Qredit Simple Ledger Protocol.</p>
									</div>
									<div class="text-center">
										<button class="btn btn-info btn-simple">Learn More</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="gradient-line thin"></div>

			<!-- end of introduction-->



		</div>
		{% include './blocks/footer.twig' %}
	</div>
	{% include './blocks/scripts.twig' %}
</body>

</html>