<section id="footer">
	<footer>
		<div class="cf-footer-area pt-100 pb-70">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-12">
						<div class="cf-single-widget mb-30 pr-120">
							<div class="cf-logo img mb-4">
								<img class="cf-logo" src="./assets/img/logo/dark-mode-text.png" alt="">
							</div>
							<p class="mb-0">Altfenix Exchange is a digital asset and fiat currency exchange that offers
								a
								traditional trading platform for pro
								traders with enhanced features that allows Qredit Motion users to instantly exchange
								their currency in
								the app from
								liquidity pools and order books on the Altfenix Exchange.</p>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="cf-single-widget mb-30">
							<h3 class="mb-25">Links</h3>
							<ul class="cf-foter-menu">
								<li class=""><a href="#home">Home</a></li>
								<li><a href="#about">Altfenix</a></li>
								<li><a href="#services">Trading</a></li>
								<li><a href="#contact">Contact</a></li>
								<li><a href="https://community.qredit.io">Community</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="cf-single-widget mb-30">
							<h3 class="mb-25">Contact</h3>
							<div class="cf-contact-info mb-20">
								<a href="#" class="cf-btn cf-btn-header cf-hover">
									Contactform</a><br><br>
							</div>
							<h3>Get Social</h2>
								<div style="text-align:left;" class="contact-us-social-icons">
									<a class="tw" href="https://t.me/qredit">
										<i class="fab fa-telegram"></i>
									</a>
									<a class="yb" href="https://twitter.com/altfenix_com">
										<i class="fab fa-twitter"></i>
									</a>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="gradient-line thin"></div>
		<div class="cf-footer-bottom  pd-30 text-center">
			<p class="m-0">Copyright @ All Lefts Reserved. Altfenix is a subsidiary of Qredit LTD. </p>
		</div>
	</footer>
</section>