<div id="loading">
	<div class="preloader">
		<div class="spinner"></div>
		<div class="spinner-2"></div>
	</div>
</div>

<!-- scroll to top -->
<a class="cf-scroll-to-top">
	<i class="fa fa-angle-up"></i>
</a>
<div class="bg_overlay_header">
	<div id="particles-bg"></div>
</div>

<div class="cf-off-canvas-menu">
	<div class="cf-off-canvas-head d-flex justify-content-between align-items-center mb-20">
		<img src="./img/logo-navbar-light.png" alt="">
		<span class="cf-menu-close">
			<i class="fa fa-angle-right"></i>
		</span>
	</div>
	<nav>
		<ul>
			<li><a href="#home">Home</a></li>
			<li><a href="/motion">Motion</a></li>
			<li><a href="/altfenix">Altfenix</a></li>
			<li><a href="/blockchain">Blockchain</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/support">Support</a></li>
		</ul>
	</nav>
</div>
<div class="cf-overly"></div>


<header>
	<div id="cf-t-menu"
		class="cf-header-wrapper d-flex justify-content-between align-items-center pl-40 pr-40 cf-t-menu">
		<div class="cf-logo">
			<a href="index.html">
				<img src="./img/logo-navbar-light.png" alt="">
			</a>
		</div>
		<div class="cf-main-menu-wraper">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="cf-main-menu">
							<nav>
								<ul>
									<li><a href="#home">Home</a></li>
									<li><a href="/motion">Motion</a></li>
									<li><a href="/altfenix">Altfenix</a></li>
									<li><a href="/blockchain">Blockchain</a></li>
									<li><a href="/about">About</a></li>
									<li><a href="/support">Support</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cf-header-right d-flex align-items-center">

			<a class="cf-menu-bars" href="">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
	</div>

</header>