<!-- home section start -->
<section id="home" class="cf-hero-area d-flex align-items-center position-relative">
	<div class="cf-hero-slider owl-carousel">
		<div class="cf-single-hero-slider pt-50">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-sm-8 col-lg-7">
						<div class="cf-hero-content">
							<img class="homesectionlogo" src="./img/logo-navbar-light.png" alt=""></img>
							<br>
							<h3>the all-in-one crypto and banking platform.</h3>
							<div class="cf-logo img mb-4"><br>
							</div>

						</div>
					</div>
					<div class="col-sm-4 col-lg-5 text-right">
						<div class="cf-hero-img">
							<img src="./img/qredit-square-trans.png" alt="">
						</div>
						<div style="text-align:center;" class="contact-us-social-icons">
							<a class="tw" href="https://t.me/qredit">
								<i class="fab fa-telegram"></i>
							</a>
							<a class="yb" href="https://twitter.com/Qredit_io">
								<i class="fab fa-twitter"></i>
							</a>
						</div>
					</div>

				</div>
			</div>


		</div>
	</div>
</section>
<!-- home section end -->