<!DOCTYPE html>
<html lang="en">
{% include './blocks/head.twig' %}

<body class="index-page">

	{% include './blocks/navbar.twig' %}

	<div class="wrapper">

		<div class="page-header-sub header-filter">
			<div class="squares square1 no-small-screen"></div>
			<div class="squares square2 no-small-screen"></div>
			<div class="squares square3 no-small-screen"></div>
			<div class="squares square4 no-small-screen"></div>
			<div class="squares square5 no-small-screen"></div>
			<div class="squares square6 no-small-screen"></div>
			<div class="squares square7 no-small-screen"></div>
			<div class="section section-basic" id="basic-elements">
				<img src="assets/img/path1.png" class="path">
				<div class="container" style="margin-top:150px;margin-bottom:150px;">
					<div class="row justify-content-center">
						<div class="col-lg-12">

							<h1 class="text-center"
								style="margin-top:50px;margin-bottom:25px;font-weight:600!important;">Qredit Motion
							</h1>
							<h3 class="text-center" style="margin-bottom:50px;font-weight:600!important;">Public
								Beta v1.2.0
							</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main">

			<!-- start of page-->
			<div class="gradient-line thin"></div>
			<div class="container" style="margin-top:100px;margin-bottom:50px;">
				<div class="row justify-content-between">
					<div class="col-md-12 side-text-right-container d-flex mx-auto flex-column"
						style="text-align:center;">
						<div class="mb-auto"></div>
						<h6 style="margin-bottom:20px;margin-top:20px;color:red;">Public Beta</h6>
						<h6 style="margin-bottom:20px;">The all-in-one cash and crypto banking platform for everyone.
						</h6>
						<div class="mt-auto"></div>
						<div class="container">
						</div>
					</div>
				</div>
			</div>


			<section class="section">
				<div class="container">
					<div class="row justify-content-between mr-tp-10">

						<div class="col-md-6 side-text-right-container">
							<h2 class="side-text-right-title">Enhanced by Powerful Features</h2>
							<p class="side-text-right-text">
								Where banks and cryptocurrency wallets leave you behind. <br>
								<strong>We've got your back.</strong><br>
								Powered by Persona, you can now keep track of your friends, easily transfer funds to
								your contacts
								or
								view a wallet profile before transferring funds to anyone.
								With our reputation report, you are now more than ever protected from falling in to
								scams or sending
								money to unknown people.
								With a multi-currency crypto wallet, you can now exchange your cash to crypto and vice
								versa and
								spend it with your virtual or physical debit card.
								Qredit Motion offers a dedicated IBAN account for transactions within whole Europe.<br>
								<strong>Explore Qredit Motion now!</strong>
							</p>
							<p>
							</p>
						</div>

						<div class="col-md-5">

							<div class="display-on-hover-box-container">
								<a href="#tab1" class="display-on-hover-box-items ctive-clod-sr">
									<img src="assets/img/svgs/hover-box/quality-badge.svg" alt="">
								</a>
								<a href="#tab2" class="display-on-hover-box-items">
									<img src="assets/img/svgs/hover-box/inclined-rocket.svg" alt="">
								</a>
								<a href="#tab3" class="display-on-hover-box-items">
									<img src="assets/img/svgs/hover-box/public-speech.svg" alt="">
								</a>
								<a href="#tab4" class="display-on-hover-box-items">
									<img src="assets/img/svgs/hover-box/big-light.svg" alt="">
								</a>
								<a href="#tab5" class="display-on-hover-box-items">
									<img src="assets/img/svgs/hover-box/big-lifesaver.svg" alt="">
								</a>
								<a href="#tab6" class="display-on-hover-box-items">
									<img src="assets/img/svgs/hover-box/big-light.svg" alt="">
								</a>
								<a href="#tab7" class="display-on-hover-box-items">
									<img src="assets/img/svgs/hover-box/inclined-paper-plane.svg" alt="">
								</a>
								<a href="#tab8" class="display-on-hover-box-items">
									<img src="assets/img/svgs/hover-box/big-telephone.svg" alt="">
								</a>

								<div class="display-on-hover-box-content">
									<div class="display-on-hover-box-cotent-items">
										<div id="tab1" class="tab-content-hover" style="display: block;">
											<h5>Dedicated IBAN Accounts</h5>
											<p>Send and receive funds to your EURO IBAN account.</p>
										</div>
										<div id="tab2" class="tab-content-hover" style="display: none;">
											<h5>Powerful Apps</h5>
											<p>Use Qredit on any platform. Web, Desktop, Mobile. We have it all.</p>
										</div>
										<div id="tab3" class="tab-content-hover" style="display: none;">
											<h5>Lending Platform</h5>
											<p>Avoid paperwork and rejections. We offer instant flash loans!</p>
										</div>
										<div id="tab4" class="tab-content-hover" style="display: none;">
											<h5>Stake your cryptocurrency</h5>
											<p>Support the Qredit Network by staking your XQR coins.</p>
										</div>
										<div id="tab5" class="tab-content-hover" style="display: none;">
											<h5>Exchange Currencies</h5>
											<p>Exchange your funds to cryptocurrency or fiat currency with low fees.</p>
										</div>
										<div id="tab6" class="tab-content-hover" style="display: none;">
											<h5>Virtual &amp; Physical Debitcards</h5>
											<p>Use your Debit Card worldwide at stores or withdraw funds from ATM's.</p>
										</div>
										<div id="tab7" class="tab-content-hover" style="display: none; opacity: 1;">
											<h5>Powered by Persona</h5>
											<p>View reputation reports and connect cryptocurrency wallets to your
												profile.</p>
										</div>
										<div id="tab8" class="tab-content-hover" style="display: none;">
											<h5>Qredit Motion</h5>
											<p>The most powerful banking platform.</p>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>


			<div class="container" style="margin-top:50px;margin-bottom:50px;">
				<div class="row justify-content-between">
					<div class="col-md-4 side-text-right-container d-flex mx-auto flex-column"
						style="text-align:center;">
						<div class="mb-auto"></div>
						<h2 class="side-text-right-title f-size25" style="margin-bottom:0px;">Public Beta</h2>
						<h5 style="margin-bottom:20px;">The all in one cash and crypto banking platform for everyone.
						</h5>
						<br>
						<div class="breadcrumb-hosting-pages row">
							<!--	<a class="col-md-4" href="#">
					<img src="img/svgs/windows.svg" alt="">
					<span class="sub-breadcrumb-host-title">Windows</span>
				</a>

				<a class="col-md-4" href="#">
					<img src="img/svgs/apple.svg" alt="">
					<span class="sub-breadcrumb-host-title">MacOS</span>
				</a>
			-->
							<a class="col-md-4"
								href="https://github.com/Qredit/motion-desktop/releases/download/1.0.0/qredit-motion-linux.deb">
								<img src="assets/img/svgs/linux.svg" alt="#">
								<span class="sub-breadcrumb-host-title">Linux</span>
							</a>
							<a class="col-md-4" href="https://motion.qredit.cloud">
								<img src="assets/img/svgs/web.svg" alt="#">
								<span class="sub-breadcrumb-host-title">Webbrowser</span>
							</a>
							<a class="col-md-4"
								href="https://play.google.com/store/apps/details?id=cloud.qredit.motion">
								<img src="assets/img/svgs/android.svg" alt="">
								<span class="sub-breadcrumb-host-title">Android</span>
							</a>

						</div>

						<div class="mt-auto"></div>
					</div>
					<div class="col-md-8">
						<img src="assets/img/motion1.png" alt="">
					</div>
				</div>
			</div>



			<!-- end of page-->
			<div class="gradient-line thin"></div>





		</div>
		{% include './blocks/footer.twig' %}
	</div>
	{% include './blocks/scripts.twig' %}
</body>

</html>