<!DOCTYPE html>
<html lang="en">
{% include './blocks/head.twig' %}

<body class="index-page">

	{% include './blocks/navbar.twig' %}

	<div class="wrapper">

		<div class="page-header-sub header-filter">
			<div class="squares square1 no-small-screen"></div>
			<div class="squares square2 no-small-screen"></div>
			<div class="squares square3 no-small-screen"></div>
			<div class="squares square4 no-small-screen"></div>
			<div class="squares square5 no-small-screen"></div>
			<div class="squares square6 no-small-screen"></div>
			<div class="squares square7 no-small-screen"></div>
			<div class="section section-basic" id="basic-elements">
				<img src="assets/img/path1.png" class="path">
				<div class="container" style="margin-top:150px;margin-bottom:150px;">
					<div class="row justify-content-center">
						<div class="col-lg-12">
							<div class="row" style="justify-content: center;margin-bottom:55px;">
								<img class="navbar-logo" src="./assets/img/logo-header.png" alt="">
							</div>
							<h1 class="text-center" style="margin-bottom:50px;font-weight:600!important;">Corporate
								Pricing Plans & Features
							</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main">

			<!-- start of page-->
			<div class="gradient-line thin"></div>


			<div class="container align-items-center mt-50">
				<div class="row">
					<div class="col-lg-3 col-md-6 ml-auto mr-auto">
						<div class="card card-coin card-plain">
							<div class="card-header" style="background:#502dd2;border:1px solid #502dd2;">

								<h4 class="title text-center">Corporate Lite Plan</h4>
								<h2 class="text-center">Free</h2>
								<h6 class="text-center">no hidden costs</h6>
							</div>
							<div class="card-body">
								<ul>
									<p class="pricing-item">KYC Required</p>
									<p class="pricing-item">Crypto Payments</p>
									<p class="pricing-item">Persona Passport</p>
									<p class="pricing-item">Tokenized Euro Wallet</p>
									<p class="pricing-item">Merchant Plugins</p>
									<p class="pricing-item">1 Team Member</p>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 ml-auto mr-auto">
						<div class="card card-coin card-plain">
							<div class="card-header" style="background:#363a7b;border:1px solid #363a7b;">

								<h4 class="title text-center">Corporate Pro Plan</h4>
								<h2 class="text-center">€ 249.99</h2>
								<h6 class="text-center">per year</h6>
							</div>
							<div class="card-body">
								<ul>
									<p class="pricing-item">KYC Required</p>
									<p class="pricing-item">Crypto Payments</p>
									<p class="pricing-item">Persona Passport</p>
									<p class="pricing-item">Tokenized Euro Wallet</p>
									<p class="pricing-item">Merchant Plugins</p>
									<p class="pricing-item">5 Team Members</p>
									<p class="pricing-item">IBAN Account</p>
									<p class="pricing-item">Micro Loans</p>
									<p class="pricing-item">Priority Support</p>
									<p class="pricing-item">5 Virtual Visa Cards</p>
									<p class="pricing-item">5 Physical Visa Cards</p>
									<p class="pricing-item">1 Metal Visa Cards</p>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 ml-auto mr-auto">
						<div class="card card-coin card-plain">
							<div class="card-header" style="background:#465b8a;border:1px solid #465b8a;">

								<h4 class="title text-center">Corporate Extreme Plan</h4>
								<h2 class="text-center">€ 999.99</h2>
								<h6 class="text-center">per year</h6>
							</div>
							<div class="card-body">
								<ul>
									<p class="pricing-item">KYC Required</p>
									<p class="pricing-item">Crypto Payments</p>
									<p class="pricing-item">Persona Passport</p>
									<p class="pricing-item">Tokenized Euro Wallet</p>
									<p class="pricing-item">Merchant Plugins</p>
									<p class="pricing-item">10 Team Members</p>
									<p class="pricing-item">IBAN Account</p>
									<p class="pricing-item">Micro Loans</p>
									<p class="pricing-item">Priority Support</p>
									<p class="pricing-item">20 Virtual Visa Cards</p>
									<p class="pricing-item">20 Physical Visa Cards</p>
									<p class="pricing-item">2 Metal Visa Card</p>
									<p class="pricing-item">Dedicated Account Manager</p>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 ml-auto mr-auto">
						<div class="card card-coin card-plain">
							<div class="card-header" style="background:#bb0b0b;border:1px solid #bb0b0b;">

								<h4 class="title text-center">Corporate Epic Plan</h4>
								<h2 class="text-center">Custom Pricing</h2>
								<a href="https://form.typeform.com/to/clXvx9B6?typeform-medium=embed-snippet"
									target="_blank">
									<h6 class="text-center" style="border:1px solid black;border-radius:10px;">contact
										us</h6>
								</a>
							</div>
							<div class="card-body">
								<ul>
									<p class="pricing-item">Custom</p>

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- end of page-->
			<div class="gradient-line thin"></div>





		</div>
		{% include './blocks/footer.twig' %}
	</div>
	{% include './blocks/scripts.twig' %}
</body>

</html>