<!DOCTYPE html>
<html lang="en">
{% include './blocks/head.twig' %}

<body class="index-page">

	{% include './blocks/navbar.twig' %}

	<div class="wrapper">

		<div class="page-header-sub header-filter">
			<div class="squares square1 no-small-screen"></div>
			<div class="squares square2 no-small-screen"></div>
			<div class="squares square3 no-small-screen"></div>
			<div class="squares square4 no-small-screen"></div>
			<div class="squares square5 no-small-screen"></div>
			<div class="squares square6 no-small-screen"></div>
			<div class="squares square7 no-small-screen"></div>
			<div class="section section-basic" id="basic-elements">
				<img src="assets/img/path1.png" class="path">
				<div class="container" style="margin-top:150px;margin-bottom:150px;">
					<div class="row justify-content-center">
						<div class="col-lg-12">
							<div class="row" style="justify-content: center;margin-bottom:55px;">
								<img class="navbar-logo" src="./assets/img/logo-header.png" alt="">
							</div>
							<h1 class="text-center" style="margin-bottom:50px;font-weight:600!important;">Under
								Construction</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main">

			<!-- start of page-->
			<div class="gradient-line thin"></div>


			<div class="section section-tabs">
				<div class="container">
					<div class="title">
						<h3 class="mb-3 text-center">Become a partner and provide your services to our users.</h3>
					</div>
					<div class="row">
						<div class="col-md-10 ml-auto col-xl-12 mr-auto">
							<!-- Tabs with Background on Card -->
							<div class="card" style="background:#59050580;border-radius:25px;">
								<div class="card-header">
									<ul class="nav nav-tabs nav-tabs-primary" role="tablist">
										<li class="nav-item">
											<a class="nav-link active show" data-toggle="tab" href="#about"
												role="tablist">
												About
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#motion" role="tablist">
												Listing on Qredit Motion
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#altfenix" role="tablist">
												Listing on Altfenix
											</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" data-toggle="tab" href="#provider" role="tablist">
												Service Provider
											</a>
										</li>
									</ul>
								</div>
								<div class="gradient-line thin"></div>
								<div class="card-body">
									<!-- Tab panes -->
									<div class="tab-content tab-space">
										<div class="tab-pane active show" style="padding:30px;" id="about">
											<p style="font-weight:600;"> Qredit is open to negotiate any kind of
												partnership or collaboration to provide your services to our
												consumers.<br>
												If you are looking to provide our services to your users, please <a
													href="/partners-partner-program">click here to view our partner
													program</a>.
											</p><br>
											<p style="font-weight:600;"> In any case, our policy is that we list and
												work with reliable partners only.<br>
												Below you will find our listing and delisting policy.
											</p><br>

											<div
												style="background-color:#36521c; color:#fff; padding:1px; padding-left:10px; border-top-right-radius:5px; border-top-left-radius:5px;">
												<h4><strong>General Listing Criteria for Digital Assets</strong>
												</h4>
											</div>
											<div
												style="border:1px solid; border-top:0px; border-bottom-right-radius:5px; border-bottom-left-radius:5px;">
												<ul
													style="margin:0px; padding:10px; padding-left:20px; list-style-type: circle; line-height:18px;">
													<li>Anyone can apply for listing on Qredit Motion or Altfenix.

													</li>
													<li>Anyone can add and create a PR on our Github to add assets.
													</li>
													<li>The applicant is required to have a verified KYC account on
														Qredit
														Motion.</li>
													<li>The applicant is responsible for providing us with updates
														regarding forks, swaps or code updates.</li>
													<li>A website and a block explorer dedicated to the asset is a
														must.</li>
													<li>At least 1 social group with user activity is required. (ie.
														discord, telegram, slack)</li>
													<li>Announcement thread of the project is required on our forum.
														<a href="https://community.qredit.io">Click here</a>
													</li>
													<li>A native desktop or mobile wallet dedicated to the project
														is required.</li>
													<li>The project is no longer in fundraising stage.
														(ICO,STO)</li>
													<li>The listing is final after the fee has been
														paid. More info on the other tabs in this block.</li>
												</ul>
											</div><br>

											<div
												style="background-color:#d22d3d; color:#fff; padding:1px; padding-left:10px; border-top-right-radius:5px; border-top-left-radius:5px;">
												<h4><strong>General Delisting Policy for Digital Assets</strong></h4>
											</div>
											<div
												style="border:1px solid; border-top:0px; border-bottom-right-radius:5px; border-bottom-left-radius:5px;">
												<ul
													style="margin:0px; padding:10px; padding-left:20px; list-style-type: circle; line-height:18px;">
													<li>The future of the project is clearly questionable.</li>
													<li>The team or project is fraudulent. (ie. not whom they say
														they are, minting coins)</li>
													<li>Current or Future Legal issues that can impact project's
														ongoing business
														operations.</li>
													<li>Issues that can impact our users.
													</li>
													<li>Significant amount of forks by the projects team. (ie.
														unstable chain)</li>
													<li>Critical code updates or forks without notifying the
														Qredit team well in
														advance.</li>
													<li>Assets may be delisted at any time at the discretion of the
														Qredit Team.</li>
												</ul>
											</div>
										</div>
										<div class="tab-pane" id="motion">
											<p>text service provider</p>
										</div>
										<div class="tab-pane" id="altfenix">
											<p>text altfenix</p>
										</div>
										<div class="tab-pane" id="provider">
											<p>text service provider</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End Tabs on plain Card -->
						</div>
					</div>
				</div>
			</div>


			<!-- end of page-->
			<div class="gradient-line thin"></div>





		</div>
		{% include './blocks/footer.twig' %}
	</div>
	{% include './blocks/scripts.twig' %}
</body>

</html>