<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img class="navbar-logo" style="margin-top:30px;margin-bottom:25px;" src="./assets/img/logo-header.png"
					alt="">

				<p>Qredit LTD</p>
				<p>London, UK</p>


			</div>
			<div class="col-md-3">
				<ul class="nav">
					<h3 style="margin-bottom:0px!important;font-weight:600;">Services</h3>
					<div class="gradient-line thin" style="margin-bottom:25px;"></div>
					<li class="nav-item">
						<a href="/motion" class="nav-link">
							Motion
						</a>
					</li>
					<li class="nav-item">
						<a href="/altfenix" class="nav-link">
							Altfenix
						</a>
					</li>
					<li class="nav-item">
						<a href="/blockchain-old" class="nav-link">
							Blockchain
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="nav">
					<h3 style="margin-bottom:0px!important;font-weight:600;">Legal</h3>
					<div class="gradient-line thin" style="margin-bottom:25px;"></div>
					<li class="nav-item">
						<a href="/about-policy" class="nav-link">
							Privacy Policy
						</a>
					</li>
					<!--	<li class="nav-item">
						<a href="/altfenix" class="nav-link">
							AML/GDPR
						</a>
					</li>
					<li class="nav-item">
						<a href="/blockchain" class="nav-link">
							Disclaimer
						</a>
					</li>-->
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="nav">
					<h3 style="margin-bottom:0px!important;font-weight:600;">Get Social</h3>
					<div class="gradient-line thin" style="margin-bottom:25px;"></div>
					<a target="_blank" href="https://twitter.com/Qredit_io"
						class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip"
						data-original-title="Follow us">
						<i class="fab fa-twitter"></i>
					</a>
					<a target="_blank" href="https://t.me/qredit" class="btn btn-icon btn-neutral btn-round btn-simple"
						data-toggle="tooltip" data-original-title="Join us">
						<i class="fab fa-telegram"></i>
					</a>
					<a target="_blank" href="https://github.com/qredit"
						class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip"
						data-original-title="Code with us">
						<i class="fab fa-github"></i>
					</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="made-with-love" style="text-align:center;">

		<p>Made with
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="feather feather-heart" style="color:red;">
				<path
					d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
				</path>
			</svg>
			by Qredit
		</p>
	</div>
</footer>