<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="./assets/img/favicon.png">
	<title>
		Blk• Design System by Creative Tim
	</title>
	<!-- Extra details for Live View on GitHub Pages -->
	<!-- Canonical SEO -->
	<link rel="canonical" href="https://www.creative-tim.com/product/blk-design-system" />
	<!--  Social tags      -->
	<meta name="keywords"
		content="design system, bootstrap 4 design system, bootstrap 4 design, bootstrap 4 system, bootstrap 4, bootstrap 4 uit kit, bootstrap 4 kit, blk, blakc, black kit, blk ui kit, creative tim, html kit, html css template, web template, bootstrap, bootstrap 4, css3 template, frontend, responsive bootstrap template, bootstrap ui kit, responsive ui kit, blk design system">
	<meta name="description"
		content="Black Kit is a responsive Bootstrap 4 kit provided for free by Creative Tim. It is a beautiful cross-platform UI kit featuring over 50 elements and 3 templates.">
	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="Black Kit by Creative Tim">
	<meta itemprop="description"
		content="Black Kit is a responsive Bootstrap 4 kit provided for free by Creative Tim. It is a beautiful cross-platform UI kit featuring over 50 elements and 3 templates.">
	<meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/56/opt_nudp_thumbnail.jpg">
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="product">
	<meta name="twitter:site" content="@creativetim">
	<meta name="twitter:title" content="Black Kit by Creative Tim">
	<meta name="twitter:description"
		content="Black Kit is a responsive Bootstrap 4 kit provided for free by Creative Tim. It is a beautiful cross-platform UI kit featuring over 50 elements and 3 templates.">
	<meta name="twitter:creator" content="@creativetim">
	<meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/56/opt_nudp_thumbnail.jpg">
	<!-- Open Graph data -->
	<meta property="fb:app_id" content="655968634437471">
	<meta property="og:title" content="Black Kit by Creative Tim" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="https://demos.creative-tim.com/blk-design-system-pro/index.html" />
	<meta property="og:image"
		content="https://s3.amazonaws.com/creativetim_bucket/products/56/opt_nudp_thumbnail.jpg" />
	<meta property="og:description"
		content="Black Kit is a responsive Bootstrap 4 kit provided for free by Creative Tim. It is a beautiful cross-platform UI kit featuring over 50 elements and 3 templates." />
	<meta property="og:site_name" content="Creative Tim" />

	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand:200,300,400,600,700,800" rel="stylesheet" />
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

	<!-- Nucleo Icons -->
	<link href="./assets/css/nucleo-icons.css" rel="stylesheet" />

	<!-- CSS Files -->
	<link href="./assets/css/style.css" rel="stylesheet" />

</head>