<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
	<link rel="icon" type="image/png" href="./assets/img/favicon.png">
	<title>
		Qredit
	</title>
	<!-- Extra details for Live View on GitHub Pages -->
	<!-- Canonical SEO -->
	<link rel="canonical" href="https://www.qredit.io" />
	<!--  Social tags      -->
	<meta name="keywords" content="Qredit - The all-in-one crypto and banking platform.">
	<meta name="description" content="Qredit - The all-in-one crypto and banking platform.">
	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="Black Kit by Creative Tim">
	<meta itemprop="description" content="Qredit - The all-in-one crypto and banking platform.">
	<meta itemprop="image" content="https://s3.amazonaws.com/creativetim_bucket/products/56/opt_nudp_thumbnail.jpg">
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="product">
	<meta name="twitter:site" content="@Qredit_io">
	<meta name="twitter:title" content="Qredit - The all-in-one crypto and banking platform.">
	<meta name="twitter:description" content="Qredit - The all-in-one crypto and banking platform.">
	<meta name="twitter:creator" content="@Qredit_io">
	<meta name="twitter:image" content="https://s3.amazonaws.com/creativetim_bucket/products/56/opt_nudp_thumbnail.jpg">
	<!-- Open Graph data -->
	<meta property="fb:app_id" content="655968634437471">
	<meta property="og:title" content="Qredit - The all-in-one crypto and banking platform." />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="https://qredit.io" />
	<meta property="og:image"
		content="https://s3.amazonaws.com/creativetim_bucket/products/56/opt_nudp_thumbnail.jpg" />
	<meta property="og:description" content="Qredit - The all-in-one crypto and banking platform." />
	<meta property="og:site_name" content="Qredit" />

	<!--     Fonts and icons     -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand:200,300,400,600,700,800" rel="stylesheet" />
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

	<!-- Nucleo Icons -->
	<link href="./assets/css/nucleo-icons.css" rel="stylesheet" />

	<!-- CSS Files -->
	<link href="./assets/css/style.css" rel="stylesheet" />

</head>