<nav class="navbar navbar-expand-lg fixed-top navbar-transparent " color-on-scroll="100">
	<div class="container">
		<div class="navbar-translate">
			<a class="navbar-brand" href="https://qredit.io" rel="tooltip" title="Yes, this is our logo."
				data-placement="bottom" target="_blank">
				<img class="navbar-logo no-small-screen" src="./assets/img/logo-header.png" alt=""></img>
			</a>
			<button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
				aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-bar bar1"></span>
				<span class="navbar-toggler-bar bar2"></span>
				<span class="navbar-toggler-bar bar3"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse justify-content-end" id="navigation">
			<div class="navbar-collapse-header">
				<div class="row">
					<div class="col-6 collapse-brand">
						<img class="navbar-logo" src="./assets/img/logo-header.png" alt=""></img>
					</div>
					<div class="col-6 collapse-close text-right">
						<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation"
							aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
							<i class="tim-icons icon-simple-remove"></i>
						</button>
					</div>
				</div>
			</div>
			<ul class="navbar-nav">

				<li class="nav-item">
					<a href="/" class="nav-link">
						<i class="fa fa-cogs d-lg-none d-xl-none"></i>Home
					</a>
				</li>
				<li class="dropdown nav-item">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						<i class="fa fa-cogs d-lg-none d-xl-none"></i>Motion
					</a>
					<div class="dropdown-menu dropdown-with-icons">
						<a href="/motion" class="dropdown-item">
							Motion Wallet App
						</a>
						<!--	<a href="/motion-features" class="dropdown-item">
							</i>Features
						</a>-->
						<a href="/motion-pricing-personal" class="dropdown-item">
							</i>Pricing Personal
						</a>
						<a href="/motion-pricing-corporate" class="dropdown-item">
							</i>Pricing Corporate
						</a>
						<!--	<a href="/motion-faq" class="dropdown-item">
							FAQ
						</a>
						 -->
					</div>
				</li>
				<li class="dropdown nav-item">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						<i class="fa fa-cogs d-lg-none d-xl-none"></i>Altfenix
					</a>
					<div class="dropdown-menu dropdown-with-icons">
						<a href="/altfenix" class="dropdown-item">
							Altfenix Exchange
						</a>
						<!--	<a href="/altfenix-features" class="dropdown-item">
							</i>Features
						</a> -->

						<a href="/altfenix-faq" class="dropdown-item">
							FAQ
						</a>
					</div>
				</li>
				<li class="dropdown nav-item">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						<i class="fa fa-cogs d-lg-none d-xl-none"></i>Blockchain
					</a>
					<div class="dropdown-menu dropdown-with-icons">
						<!--	<a href="/blockchain" class="dropdown-item">
							Introduction
						</a>-->
						<!--	<a href="/blockchain-wallets" class="dropdown-item">
							Native Wallets
						</a>-->
						<a href="https://explorer.qredit.io" class="dropdown-item">
							Explorer
						</a>
						<!--	<a href="/blockchain-explorer" class="dropdown-item">
							Explorer
						</a>-->
						<!--	<a href="/blockchain-qslp" class="dropdown-item">
							QSLP Smart Contracts
						</a>-->

						<!--	<a href="/blockchain-faq" class="dropdown-item">
							FAQ
						</a>-->
						<!--<a href="/blockchain-node" class="dropdown-item">
							Node
						</a> -->
						<a href="/blockchain-swap" class="dropdown-item">
							Swap
						</a>
						<a href="/blockchain-old" class="dropdown-item">
							Old Mainnet
						</a>
					</div>
				</li>
				<li class="dropdown nav-item">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						<i class="fa fa-cogs d-lg-none d-xl-none"></i>Partners
					</a>
					<div class="dropdown-menu dropdown-with-icons">
						<a href="/partners" class="dropdown-item">
							Partners
						</a>
						<a href="/partners-platform-listing" class="dropdown-item">
							Platform Listing
						</a>
						<a href="/partners-partner-program" class="dropdown-item">
							Partner Program
						</a>
					</div>
				</li>

				<!--	<li class="dropdown nav-item">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						<i class="fa fa-cogs d-lg-none d-xl-none"></i>Developer
					</a>
					<div class="dropdown-menu dropdown-with-icons">
						<a href="/developer-motion" class="dropdown-item">
							Qredit Motion
						</a>
						<a href="/developer-altfenix" class="dropdown-item">
							Altfenix
						</a>
						<a href="/developer-blockchain" class="dropdown-item">
							Blockchain
						</a>
						<a href="/developer-api" class="dropdown-item">
							Unified API
						</a>
						<a href="/developer-documentation" class="dropdown-item">
							Documentation
						</a>
					</div>
				</li> -->
				<li class="dropdown nav-item">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
						<i class="fa fa-cogs d-lg-none d-xl-none"></i>About
					</a>
					<div class="dropdown-menu dropdown-with-icons">
						<!--	<a href="/about-company" class="dropdown-item">
							Company
						</a>-->
						<!--	<a href="/about-licensing" class="dropdown-item">
							Licensing
						</a>
						<a href="/about-whitepaper" class="dropdown-item">
							Whitepaper
						</a>

						<a href="/about-amlgdpr" class="dropdown-item">
							AML/GDPR
						</a>
						<a href="/about-disclaimer" class="dropdown-item">
							Disclaimer
						</a> -->
						<a href="/about-privacy-policy" class="dropdown-item">
							Privacy Policy
						</a>
					</div>
				</li>

				<li class="nav-item" style="text-align:center;"> <a class="nav-link"
						href="https://form.typeform.com/to/clXvx9B6?typeform-medium=embed-snippet" data-mode="popup"
						style="display:inline-block;text-decoration:none;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;"
						data-size="100" target="_blank"><i class="fa fa-cogs d-lg-none d-xl-none"></i>Contact</a> </li>
				<script> (function () { var qs, js, q, s, d = document, gi = d.getElementById, ce = d.createElement, gt = d.getElementsByTagName, id = "typef_orm_share", b = "https://embed.typeform.com/"; if (!gi.call(d, id)) { js = ce.call(d, "script"); js.id = id; js.src = b + "embed.js"; q = gt.call(d, "script")[0]; q.parentNode.insertBefore(js, q) } })()</script>
				<!--	<li class="nav-item">
					<a class="nav-link btn btn-default d-none d-lg-block" href="https://community.qredit.io">
						<i class="tim-icons icon-support-17"></i> Community
					</a>
				</li>-->
			</ul>
		</div>
	</div>
</nav>