<div class="page-header header-filter">
	<div class="squares square1 no-small-screen"></div>
	<div class="squares square2 no-small-screen"></div>
	<div class="squares square3 no-small-screen"></div>
	<div class="squares square4 no-small-screen"></div>
	<div class="squares square5 no-small-screen"></div>
	<div class="squares square6 no-small-screen"></div>
	<div class="squares square7 no-small-screen"></div>
	<div class="container">
		<div class="content-center brand">
			<img class="img logo" src="./assets/img/logo-navbar-light.png" style="margin-bottom:25px;" alt=""></img>
			<h4>the all-in-one crypto and banking platform.</h4>
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<div class="btn-wrapper profile">
							<a target="_blank" href="https://twitter.com/Qredit_io"
								class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip"
								data-original-title="Follow us">
								<i class="fab fa-twitter"></i>
							</a>
							<a target="_blank" href="https://t.me/qredit"
								class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip"
								data-original-title="Join us">
								<i class="fab fa-telegram"></i>
							</a>
							<a target="_blank" href="https://github.com/qredit"
								class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip"
								data-original-title="Code with us">
								<i class="fab fa-github"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="gradient-line thin"></div>